.kanban {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3%;
  gap: 5%;
  background-color: rgb(182, 243, 243);

  header {
    height: 150px;
    width: 100%;
    background-color: rgb(204, 162, 243);
    border-radius: 20px;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    time {
      height: 80px;
      width: 250px;
      font-size: 2.5rem;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

section {
  height: 500px;
  width: 25%;
  margin: 0 20px;
  background-color: rgb(243, 236, 236);
  border-radius: 20px;

  .todo__column-title,
  .in-progress__column-title,
  .done__column-title {
    height: 60px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 2rem;
      color: #fff;
    }
  }
}

.todo__column-title {
  background-color: rgb(226, 115, 161);
}

.in-progress__column-title {
  background-color: rgb(138, 214, 241);
}

.done__column-title {
  background-color: rgb(77, 246, 85);
}

.todo__ul,
.in-progress__ul,
.done__ul {
  height: 360px;
  margin: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .todo__ul__li,
  .in-progress__ul__li,
  .done__ul__li {
    height: 170px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin: 5px;
    .todo__ul__li p,
    .in-progress__ul__li p,
    .done__ul__li p {
      width: 100%;
      overflow: auto;
      margin: 5px;
    }
  }
}

.todo__btn-add,
.done__btn-delete {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.todo__btn-add {
  background-color: rgb(226, 115, 161);
}

.done__btn-delete {
  background-color: rgb(77, 246, 85);
}
.btn__group {
  display: flex;
  justify-content: space-between;
  select {
    height: 30px;
    width: 80px;
    border-radius: 5px;
  }
}
.btn__group__btn-edit,
.btn__group__btn-delete {
  border: none;
  cursor: pointer;
  height: 30px;
  width: 70px;
  background-color: rgb(236, 142, 142);
  color: #fff;
  border-radius: 5px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
